body
{
    width: 1920px;
    height: 1080px;
    font-size: 20px;
    font-family: Oswald,Roboto,RobotoDraft,sans-serif;
    overflow: hidden;
}

#transitionLogo {
    width: 1920px;
    height: 1080px;
    background-image: url(assets/RLL_Logo_LARGE.png);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}
#transitionBg {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 0px;
    left: 0px;
}
#transitionBg.hasBg {
    background-color: black;
}

i { 
    text-shadow:2px 2px #000924;
}
.pressureCounter
{
    position:absolute;
    top: 900px;
    left: 1500px;
    color: black;
    background-color: black;
    visibility: hidden;
}
.scorebug
{
    position:absolute;
    top: 20px;
    left: 20px;
    color:white;
    text-shadow:2px 2px #000924;
    background-color: black;
    width: 400px;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    box-shadow: 2px 5px 5px #000924b8;
}

.scorebug .leftcontainer
{
    display: flex;
    flex:4;
    flex-direction: column;
}

.scorebug .rightcontainer
{
    display: flex;
    flex:1;
    background: #2e2e2e;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-left: 2px solid whitesmoke;
}

.scorebug .team
{
    display: flex;
    flex-direction: row;
    max-height: 40px;
}

.scorebug .team.left 
{
    background-image: linear-gradient(to right, black , blue);
}

.scorebug .team.right 
{
    background-image: linear-gradient(to right, black , orange);
}

.scorebug .score
{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.scorebug .left .score
{
    background: blue;
}

.scorebug .right .score
{
    background: rgba(223, 126, 0, 1);;
}

.scorebug .logo
{
    display: flex;
    flex: 3;
}

.scorebug .logo img
{
    width: 100%;
}

.scorebug .name
{
    display: flex;
    flex: 8;
    align-items: center;
    padding-left: 5px;
}

.leftTeam
{
    width : 480px;
    height : 70px;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    text-shadow:2px 2px #000924;
    top: 12px;
    left: 280px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rightTeam
{
    width : 480px;
    height : 70px;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    text-shadow:2px 2px #000924;
    top: 12px;
    left: 1167px;
    position: absolute;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.teamName
{
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: center;
}
.logo
{
    display: flex;
}

.logo img
{
    max-width: 130px;
    max-height: 70px;
    object-fit: scale-down;

}

.blueTeam
{
    position:absolute;
    top: 250px;
    left: 30px;
    color: black;
    text-transform: uppercase;
}

.orangeTeam
{
    position:absolute;
    top: 250px;
    left: 1580px;
    color: black;
    text-transform: uppercase;
}

.t-in-zone
{
    position:absolute;
    top: 130px;
    left: 310px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    width: 1300px;
    height: 20px;
    border-radius: 6px;
	box-shadow: 0 5px 5px #ccc inset;

}



.fill-from-left
{
    background-color: blue;
    transition: width .5s ease;
    height: 20px;
    width: 0%;
    border-radius: 6px 0px 0px 6px;
	box-shadow: 0 5px 5px rgb(8, 131, 212) inset;
}
.progressBarCont
{
    border-radius: 10px;
	padding: 5px;
	background: #000924;
	border: 1px solid #111;
    box-shadow: 0 2px 3px #333;
    width: 200px;
    height: 10px;
    display: flex;
    flex: 4;
}
.bar
{
    background: linear-gradient(to right, #ffdb3a 0%,#3fffa2  100%);
	border-radius: 6px;
	box-shadow: 0 5px 5px #ccc inset;
	text-indent: 99999px;
    overflow: hidden;
    width: 0px;
    height: 100%;
    transition: ease;
    transition: 0.5s;
}

.hContainer
{
    display: flex;
    flex: 1;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.players .name
{
    color: white;
    text-shadow:2px 2px #000924;
    opacity: 1;
    font-size: 20px;
    
}

.demos {
    float: right;
    color: white;
    font-size: 1.2em;
    margin-right: 8px;
}

.boost 
{
    width: 40px;
    display: flex;
    flex: 1;
    justify-content: center;
    color: greenyellow;
    text-shadow:2px 2px #000924;
    opacity: 1;
}

.scoreText
{
    display: flex;
    color: white;
    text-shadow:2px 2px #000924;
    flex: 2;
    align-items: center;
}
.players .score
{
    display: flex;
    color: yellow;
    text-shadow:2px 2px #000924;
    flex: 2;
    padding-left: 4px;
    align-items: center;
}
.icon
{
    display: flex;
    color: white;
    text-shadow:2px 2px #000924;
    flex: 2;
    justify-content: flex-end;
    align-items: center;
}
.goals
{
    display: flex;
    color: rgb(0, 174, 255);
    text-shadow:2px 2px #000924;
    flex: 2;
    padding-left: 4px;
    align-items: center;
}
.touches
{
    display: flex;
    color: rgb(0, 174, 255);
    text-shadow:2px 2px #000924;
    flex: 2;
    padding-left: 4px;
    align-items: center;
}

.carBumps
{
    display: flex;
    color: rgb(255, 155, 152);
    text-shadow:2px 2px #000924;
    flex: 2;
    padding-left: 4px;
    align-items: center;
}

.border
{
    width: 200px;
}


.players
{
    display: flex;
    width: 310px;
    flex-direction: column;
    height: 400px;
}


.blueTeam .players .p1
{
    display: flex;
    flex: 1;
    flex-direction: column;
    background:rgba(0,0,255,0.5);
    padding-left: 10px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 5px 5px  #000924;
    min-height: 113px;
}
.blueTeam .players .p2
{
    display: flex;
    flex: 1;
    flex-direction: column;
    background:rgba(0,0,255,0.5);
    padding-left: 10px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 5px 5px  #000924;
    min-height: 113px;
}
.blueTeam .players .p3
{
    display: flex;
    flex: 1;
    flex-direction: column;
    background:rgba(0,0,255,0.5);
    padding-left: 10px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 5px 5px  #000924;
    min-height: 113px;
}

.orangeTeam .players .p1
{
    display: flex;
    flex: 1;
    flex-direction: column;
    background:rgba(223, 126, 0, 0.5);
    padding-left: 10px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 5px 5px  #000924;
    min-height: 113px;
}
.orangeTeam .players .p2
{
    display: flex;
    flex: 1;
    flex-direction: column;
    background:rgba(223, 126, 0, 0.5);
    padding-left: 10px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 5px 5px  #000924;
    min-height: 113px;
}
.orangeTeam .players .p3
{
    display: flex;
    flex: 1;
    flex-direction: column;
    background:rgba(223, 126, 0, 0.5);
    padding-left: 10px;
    margin: 10px;
    border-radius: 6px;
    box-shadow: 0 5px 5px  #000924;
    min-height: 113px;
    animation: anim-glow 2s ease infinite;
    
}

label {
    display: block;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    transition: all .5s;
    background: black;
    background-image: url("assets/RLL_Logo_LARGE.png");

}

input:checked + label {
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: 0;
    left: 0;
    margin-left: 0;
    border-radius: 0;
}

input {
   visibility: hidden;
   position: absolute;
}

@keyframes goal-glow {
	0% {
		background: rgba(255, 255, 0, 0.789);
    }
    50% {
		background: rgba(0, 0, 0, 0.535);
	}
	100% {
		background:  rgba(255, 255, 0, 0.789);
	}
}

.add_keyframe
{
    animation: goal-glow 2s ease infinite;
}
